
:root{
    --color-yellow: #FFE500;
    --color-green: #0CAF1D;
    --color-back: #E8E8E8;
    --color-bgrey: #636363;
    --color-white: #FFF;
    --color-lgrey: #D9D9D9;
    --color-blue: #3483FA;
}

.img-computer{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.img-computer img{
    height: 150px;
    width: 150px;
}

.info-container{
    padding: 10px 20px;
    min-height: 110px;
}

.info-container h3{
    color: var(--color-green);
    font-size: 20px;
}

.info-container h4{
    font-size: 14px;
}

.container-products{
    display: grid;
    grid-gap: 0px 20px;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
}
